.dream-worlds-content {
    background-color: #cf697a;
    border-style: solid;
    border-width: 13px;
    border-color: #f69aa9;
    width: 850px;
    font-family: Cinema;
    padding: 20px;

    h1 {
        font-size: 45px;
        color: #7b2534;
    }

    h3 {
        font-size: 30px;
        color: #a54757;
    }

    p {
    font-size: 25px;
    color: #f69aa9;
    }

    img {
        margin-left: 600px;
    }
}